@import "tailwindcss";

:root {
  --page: #ffffff;
}

body {
  background: var(--page);
}

body {
  background-image: url('/bg.webp');
  background-size: cover;
  background-position: center;
}


html,
body,
#__next {
  height: 100%;
}


